<suite name="SeleniumExtentReportsSuite">
    <test name="ChromeTest">
        <parameter name="browser" value="chrome" />
        <classes>
            <class name="tests.scriptTests" />
        </classes>
    </test>

    <test name="FirefoxTest">
        <parameter name="browser" value="firefox" />
        <classes>
            <class name="tests.scriptTests" />
        </classes>
    </test>
</suite>